.parent {
    background: gainsboro;
    position: relative;
}

.modal-dialog {
    background: gainsboro;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    border:solid black;
    width: 400px;
}

.modal-header {
    background-color: grey;
    color: wheat;
    font-size: 5ex;
    padding: 10px;
}


.modal-buttons {
    position: relative;
    text-align: end;
    padding:7px;
}

.modal-content {
    padding: 5px;
    font-size: 3.5ex;
}
buttons {
    height:50px;
}